@charset "utf-8";

/* @font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css"); */


/* font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;

*,::before,::after{box-sizing:border-box;border-width:0;border-style:solid;}
::before,::after{--tw-content:''}
html{line-height:1.5;-webkit-text-size-adjust:100%;-moz-tab-size:4;tab-size:4; font-family: font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;}
body{margin:0;line-height:inherit}
hr{height:0;color:inherit;border-top-width:1px}
abbr:where([title]){text-decoration:underline dotted}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight:inherit; font-family:inherit !important;}
a{color:inherit;text-decoration:inherit}
b,strong{font-weight:bolder}
code,kbd,samp,pre{font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;font-size:1em}
small{font-size:80%}
sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}
sub{bottom:-0.25em}
sup{top:-0.5em}
table{text-indent:0;border-color:inherit;border-collapse:collapse}
button,input,optgroup,select,textarea{font-family:inherit;font-size:100%;line-height:inherit;color:inherit;margin:0;padding:0}
button,select{text-transform:none}
button,[type='button'],[type='reset'],[type='submit']{-webkit-appearance:button;background-color:transparent;background-image:none}
:-moz-focusring{outline:auto}
:-moz-ui-invalid{box-shadow:none}
progress{vertical-align:baseline}
::-webkit-inner-spin-button,::-webkit-outer-spin-button{height:auto}
[type='search']{-webkit-appearance:textfield;outline-offset:-2px}
::-webkit-search-decoration{-webkit-appearance:none}
::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}
summary{display:list-item}
blockquote,dl,dd,h1,h2,h3,h4,h5,h6,hr,figure,p,pre{margin:0}
fieldset{margin:0;padding:0}
legend{padding:0}
ol,ul,menu{list-style:none;margin:0;padding:0}
textarea{resize:vertical}
input::placeholder,textarea::placeholder{opacity:1;color:theme('colors.gray.400',#9ca3af)}
button,[role="button"]{cursor:pointer}:disabled{cursor:default}
img{pointer-events: none;}
img,svg,video,canvas,audio,iframe,embed,object{display:block;vertical-align:middle}
img,video{max-width:100%;height:auto}
[hidden]{display:none}
pre {
    white-space: pre-line;
    word-break: break-all;
	overflow-x: auto !important;
}

:root{
	--fw-100: 100;
    --fw-200: 200;
    --fw-300: 300;
    --fw-400: 400;
    --fw-500: 500;
    --fw-600: 600;
    --fw-700: 700;
    --fw-800: 800;
    --fw-900: 900;
    --white: #fff;
	--black: #010101;
	--black02: #343434;
	--gray01: #666666;
	--gray02: #e8e8e8;
	--blue01: #244d8e;
	--blue02: #dae3f3;
	--blue03: #f0f4fa;
	--blue04: #83d2de;
	--blue05: #c1cee5;
	--red: #df0202;
    --transition: all 0.3s;
}


.montserrat {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}


@media screen and (max-width: 1000px){
	*{ font-size: 16px; }
}

@media screen and (max-width: 640px){
	*{ font-size: 15px; }
}

@media screen and (max-width: 320px){
	*{ font-size: 14px; }
} */


/* 
마진 및 패딩값
.mt5{ margin-top: 5px !important; }
.mt15{ margin-top: 15px !important; }
.mt20{ margin-top: 20px !important; }
.mt25{ margin-top: 25px !important; }
.mt30{ margin-top: 30px !important; }
.mt35{ margin-top: 35px !important; }
.mt40{ margin-top: 40px !important; }
.mt45{ margin-top: 45px !important; }
.mt50{ margin-top: 50px !important; }
.mt60{ margin-top: 60px !important; }
.mt65{ margin-top: 65px !important; }
.mt70{ margin-top: 70px !important; }
.mt80{ margin-top: 80px !important; }
.mt90{ margin-top: 90px !important; }
.mt100{ margin-top: 100px !important; } */

/* .mb15{ margin-bottom: 15px !important; }
.mb20{ margin-bottom: 20px !important; }
.mb25{ margin-bottom: 25px !important; }
.mb30{ margin-bottom: 30px !important; }
.mb35{ margin-bottom: 35px !important; }
.mb40{ margin-bottom: 40px !important; }
.mb45{ margin-bottom: 45px !important; }
.mb50{ margin-bottom: 50px !important; }
.mb60{ margin-bottom: 60px !important; }
.mb65{ margin-bottom: 65px !important; }
.mb70{ margin-bottom: 70px !important; }
.mb80{ margin-bottom: 80px !important; }
.mb90{ margin-bottom: 90px !important; }
.mb100{ margin-bottom: 100px !important; } */

/* .pt40{ padding-top: 40px !important; }
.pt50{ padding-top: 50px !important; }
.pt60{ padding-top: 60px !important; }
.pt70{ padding-top: 70px !important; }
.pt80{ padding-top: 80px !important; }
.pt90{ padding-top: 90px !important; }
.pt100{ padding-top: 100px !important; }
.pt110{ padding-top: 110px !important; }
.pt120{ padding-top: 120px !important; }
.pt130{ padding-top: 130px !important; }
.pt140{ padding-top: 140px !important; }
.pt150{ padding-top: 150px !important; }
.pt160{ padding-top: 160px !important; }
.pt170{ padding-top: 170px !important; }
.pt180{ padding-top: 180px !important; }
.pt190{ padding-top: 190px !important; } */

/* .pb50{ padding-bottom: 50px !important; }
.pb60{ padding-bottom: 60px !important; }
.pb70{ padding-bottom: 70px !important; }
.pb80{ padding-bottom: 80px !important; }
.pb90{ padding-bottom: 90px !important; }
.pb100{ padding-bottom: 100px !important; }
.pb110{ padding-bottom: 110px !important; }
.pb120{ padding-bottom: 120px !important; }
.pb130{ padding-bottom: 130px !important; }
.pb140{ padding-bottom: 140px !important; }
.pb150{ padding-bottom: 150px !important; }
.pb160{ padding-bottom: 160px !important; }
.pb170{ padding-bottom: 170px !important; }
.pb180{ padding-bottom: 180px !important; }
.pb190{ padding-bottom: 190px !important; } */



/* @media screen and (max-width: 1500px){}

@media screen and (max-width: 1300px){
	.mt50{ margin-top: 40px !important; }
	.mt60{ margin-top: 50px !important; }
	.mt65{ margin-top: 55px !important; }
	.mt70{ margin-top: 60px !important; }
	.mt80{ margin-top: 70px !important; }
	.mt90{ margin-top: 80px !important; }
	.mt100{ margin-top: 90px !important; }

	.mb50{ margin-bottom: 40px !important; }
	.mb60{ margin-bottom: 50px !important; }
	.mb65{ margin-bottom: 55px !important; }
	.mb70{ margin-bottom: 60px !important; }
	.mb80{ margin-bottom: 70px !important; }
	.mb90{ margin-bottom: 80px !important; }
	.mb100{ margin-bottom: 90px !important; } */


	/* .pt40{ padding-top: 30px !important; }
	.pt50{ padding-top: 40px !important; }
	.pt60{ padding-top: 50px !important; }
	.pt70{ padding-top: 60px !important; }
	.pt80{ padding-top: 70px !important; }
	.pt90{ padding-top: 80px !important; }
	.pt100{ padding-top: 90px !important; }
	.pt110{ padding-top: 100px !important; }
	.pt120{ padding-top: 110px !important; }
	.pt130{ padding-top: 120px !important; }
	.pt140{ padding-top: 130px !important; }
	.pt150{ padding-top: 140px !important; }
	.pt160{ padding-top: 150px !important; }
	.pt170{ padding-top: 160px !important; }
	.pt180{ padding-top: 170px !important; }
	.pt190{ padding-top: 180px !important; }

	.pb50{ padding-bottom: 40px !important; }
	.pb60{ padding-bottom: 50px !important; }
	.pb70{ padding-bottom: 60px !important; }
	.pb80{ padding-bottom: 70px !important; }
	.pb90{ padding-bottom: 80px !important; }
	.pb100{ padding-bottom: 90px !important; }
	.pb110{ padding-bottom: 100px !important; }
	.pb120{ padding-bottom: 110px !important; }
	.pb130{ padding-bottom: 120px !important; }
	.pb140{ padding-bottom: 130px !important; }
	.pb150{ padding-bottom: 140px !important; }
	.pb160{ padding-bottom: 150px !important; }
	.pb170{ padding-bottom: 160px !important; }
	.pb180{ padding-bottom: 170px !important; }
	.pb190{ padding-bottom: 180px !important; }
} */

/* @media screen and (max-width: 1200px){
	.mt80{ margin-top: 55px !important; }
    .mt70{ margin-top: 60px !important; }
	.mt60{ margin-top: 50px !important; }
	.mt50{ margin-top: 40px !important; }
	.mt45{ margin-top: 35px !important; }
	.mt40{ margin-top: 30px !important; }
	.mt35{ margin-top: 25px !important; }
	.mt30{ margin-top: 20px !important; }
	.mt20{ margin-top: 15px !important; }

	.mb80{ margin-bottom: 55px !important; }
    .mb70{ margin-bottom: 60px !important; }
	.mb60{ margin-bottom: 50px !important; }
	.mb50{ margin-bottom: 40px !important; }
	.mb45{ margin-bottom: 35px !important; }
	.mb40{ margin-bottom: 30px !important; }
	.mb35{ margin-bottom: 25px !important; }
	.mb30{ margin-bottom: 20px !important; }
	.mb20{ margin-bottom: 15px !important; } */

/* 
	.pt130{ padding-top: 115px !important; }
	.pt140{ padding-top: 120px !important; }
	.pt150{ padding-top: 125px !important; }
	.pt160{ padding-top: 135px !important; }
	.pt170{ padding-top: 140px !important; }
	.pt180{ padding-top: 150px !important; }
	.pt190{ padding-top: 160px !important; }

	.pb130{ padding-bottom: 115px !important; }
	.pb140{ padding-bottom: 120px !important; }
	.pb150{ padding-bottom: 125px !important; }
	.pb160{ padding-bottom: 135px !important; }
	.pb170{ padding-bottom: 140px !important; }
	.pb180{ padding-bottom: 150px !important; }
	.pb190{ padding-bottom: 160px !important; }
} */

/* @media screen and (max-width: 1000px){
	.mt100{ margin-top: 70px !important; }
	.mt90{ margin-top: 60px !important; }
	.mt80{ margin-top: 55px !important; }
	.mt70{ margin-top: 50px !important; }
	.mt60{ margin-top: 45px !important; }
	.mt50{ margin-top: 35px !important; }

	.mb100{ margin-bottom: 70px !important; }
	.mb90{ margin-bottom: 60px !important; }
	.mb80{ margin-bottom: 55px !important; }
	.mb70{ margin-bottom: 50px !important; }
	.mb60{ margin-bottom: 45px !important; }
	.mb50{ margin-bottom: 35px !important; }


	.pt80{ padding-top: 75px !important; }
	.pt90{ padding-top: 80px !important; }
	.pt100{ padding-top: 85px !important; }
	.pt110{ padding-top: 90px !important; }
	.pt120{ padding-top: 95px !important; }
	.pt130{ padding-top: 100px !important; }
	.pt140{ padding-top: 105px !important; }
	.pt150{ padding-top: 110px !important; }
	.pt160{ padding-top: 115px !important; }
	.pt170{ padding-top: 120px !important; }
	.pt180{ padding-top: 125px !important; }
	.pt190{ padding-top: 130px !important; }

	.pb80{ padding-bottom: 75px !important; }
	.pb90{ padding-bottom: 80px !important; }
	.pb100{ padding-bottom: 85px !important; }
	.pb110{ padding-bottom: 90px !important; }
	.pb120{ padding-bottom: 95px !important; }
	.pb130{ padding-bottom: 100px !important; }
	.pb140{ padding-bottom: 105px !important; }
	.pb150{ padding-bottom: 110px !important; }
	.pb160{ padding-bottom: 115px !important; }
	.pb170{ padding-bottom: 120px !important; }
	.pb180{ padding-bottom: 125px !important; }
/* 	.pb190{ padding-bottom: 130px !important; } */
}

/* @media screen and (max-width: 640px){
	.mt15{ margin-top: 7px !important; }
	.mt20{ margin-top: 10px !important; }
	.mt25{ margin-top: 12px !important; }
	.mt30{ margin-top: 15px !important; }
	.mt35{ margin-top: 20px !important; }
	.mt40 { margin-top: 25px !important; }
	.mt50 {  margin-top: 30px !important; }
	.mt60 {  margin-top: 40px !important; }
	.mt70{ margin-top: 45px !important; }
	.mt80 { margin-top: 45px !important; }
	.mt90 { margin-top: 50px !important; }
	.mt100 { margin-top: 55px !important; }

	.mb15{ margin-bottom: 7px !important; }
	.mb20{ margin-bottom: 10px !important; }
	.mb25{ margin-bottom: 12px !important; }
	.mb30{ margin-bottom: 15px !important; }
	.mb35{ margin-bottom: 20px !important; }
	.mb40 { margin-bottom: 25px !important; }
	.mb50 {  margin-bottom: 30px !important; }
	.mb60 {  margin-bottom: 40px !important; }
	.mb70{ margin-bottom: 45px !important; }
	.mb80 { margin-bottom: 45px !important; }
	.mb90 { margin-bottom: 50px !important; }
	.mb100 { margin-bottom: 55px !important; }


	.pt40{ padding-top: 30px !important; }
	.pt50{ padding-top: 40px !important; }
	.pt60{ padding-top: 45px !important; }
	.pt70{ padding-top: 50px !important; }
	.pt80{ padding-top: 55px !important; }
	.pt90{ padding-top: 60px !important; }
	.pt100{ padding-top: 65px !important; }
	.pt110{ padding-top: 70px !important; }
	.pt120{ padding-top: 75px !important; }
	.pt130{ padding-top: 80px !important; }
	.pt140{ padding-top: 85px !important; }
	.pt150{ padding-top: 90px !important; }
	.pt160{ padding-top: 95px !important; }
	.pt170{ padding-top: 100px !important; }
	.pt180{ padding-top: 105px !important; }
	.pt190{ padding-top: 110px !important; }
	
	.pb50{ padding-bottom: 40px !important; }
	.pb60{ padding-bottom: 45px !important; }
	.pb70{ padding-bottom: 50px !important; }
	.pb80{ padding-bottom: 55px !important; }
	.pb90{ padding-bottom: 60px !important; }
	.pb100{ padding-bottom: 65px !important; }
	.pb110{ padding-bottom: 70px !important; }
	.pb120{ padding-bottom: 75px !important; }
	.pb130{ padding-bottom: 80px !important; }
	.pb140{ padding-bottom: 85px !important; }
	.pb150{ padding-bottom: 90px !important; }
	.pb160{ padding-bottom: 95px !important; }
	.pb170{ padding-bottom: 100px !important; }
	.pb180{ padding-bottom: 105px !important; }
	.pb190{ padding-bottom: 110px !important; } */
}

/* @media screen and (max-width: 320px){
	.mt15{ margin-top: 7px !important; }
	.mt20{ margin-top: 10px !important; }
	.mt25{ margin-top: 12px !important; }
	.mt30{ margin-top: 15px !important; }
	.mt35{ margin-top: 20px !important; }
	.mt40 { margin-top: 25px !important; }
	.mt50 {  margin-top: 30px !important; }
	.mt60 {  margin-top: 40px !important; }
	.mt70{ margin-top: 45px !important; }
	.mt80 { margin-top: 45px !important; }
	.mt90 { margin-top: 50px !important; }
	.mt100 { margin-top: 55px !important; }

	.mb15{ margin-bottom: 7px !important; }
	.mb20{ margin-bottom: 10px !important; }
	.mb25{ margin-bottom: 12px !important; }
	.mb30{ margin-bottom: 15px !important; }
	.mb35{ margin-bottom: 20px !important; }
	.mb40 { margin-bottom: 25px !important; }
	.mb50 {  margin-bottom: 30px !important; }
	.mb60 {  margin-bottom: 40px !important; }
	.mb70{ margin-bottom: 45px !important; }
	.mb80 { margin-bottom: 45px !important; }
	.mb90 { margin-bottom: 50px !important; }
	.mb100 { margin-bottom: 55px !important; } */

/* 
	.pt40{ padding-top: 20px !important; }
	.pt50{ padding-top: 25px !important; }
	.pt60{ padding-top: 30px !important; }
	.pt70{ padding-top: 35px !important; }
	.pt80{ padding-top: 40px !important; }
	.pt90{ padding-top: 45px !important; }
	.pt100{ padding-top: 50px !important; }
	.pt110{ padding-top: 55px !important; }
	.pt120{ padding-top: 60px !important; }
	.pt130{ padding-top: 65px !important; }
	.pt140{ padding-top: 70px !important; }
	.pt150{ padding-top: 75px !important; }
	.pt160{ padding-top: 80px !important; }
	.pt170{ padding-top: 85px !important; }
	.pt180{ padding-top: 90px !important; }
	.pt190{ padding-top: 95px !important; }
	
	.pb50{ padding-bottom: 25px !important; }
	.pb60{ padding-bottom: 30px !important; }
	.pb70{ padding-bottom: 35px !important; }
	.pb80{ padding-bottom: 40px !important; }
	.pb90{ padding-bottom: 45px !important; }
	.pb100{ padding-bottom: 50px !important; }
	.pb110{ padding-bottom: 55px !important; }
	.pb120{ padding-bottom: 60px !important; }
	.pb130{ padding-bottom: 65px !important; }
	.pb140{ padding-bottom: 70px !important; }
	.pb150{ padding-bottom: 75px !important; }
	.pb160{ padding-bottom: 80px !important; }
	.pb170{ padding-bottom: 85px !important; }
	.pb180{ padding-bottom: 90px !important; }
	.pb190{ padding-bottom: 95px !important; }
} */
