@charset "utf-8";

#modal{
	/* display: none; */
	position: fixed;
	top: 0; left: 0;
	z-index: 90909090900;
	width: 100%; height: 100vh;

	display: flex;
	display: none;
	justify-content: center;
	align-items: center;
}

#modal .modal__bg{
	position: absolute;
	top: 0; left: 0;
	width: 100%; height: 100%;
	z-index: -1;
	background-color: rgba(0,0,0,0.95);
}

#modal .modal-box{
	max-width: 1150px;
	height: 77vh;
	box-sizing: border-box;
	border-radius: 20px;
	overflow: hidden;
}

#modal .modal-box .modal-tit-box{
	background-color: var(--blue01);
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	padding: 20px 40px;
	color: var(--white);
}

#modal .modal-box .modal-tit-box h3{
	color: inherit;
	font-size: 1.4375rem;
	font-weight: 800;
}

#modal .modal-box .modal-tit-box .btn_close{
	background-color: transparent;
	color: inherit;
	font-size: 1.75rem;
	border: none;
}

#modal .modal-box .modal-tit-box .btn_close i{
	color: inherit;
	font-size: inherit;
}

#modal .modal-box .modal-content{
	width: 100%;
	height: calc(77vh - 90px);
	background-color: var(--white);
	box-sizing: border-box;
	padding: 40px;
	overflow-y: scroll;
}

#modal .modal-box .modal-content pre{
	font-size: 1rem;
	color: var(--gray01);
	line-height: 1.7;
}

#modal .modal-box .modal-content h4{
	font-size: 1.125rem;
	font-weight: 700;
}

#modal .modal-box .modal-content dl{}

#modal .modal-box .modal-content dl dt{
	font-weight: 700;
}

#modal .modal-box .modal-content dl dd{}



@media screen and (max-width: 1500px){}

@media screen and (max-width: 1300px){}

@media screen and (max-width: 1100px){
	#modal .modal-box{
		max-width: 90%;
		height: 70vh;
	}

	#modal .modal-box .modal-tit-box{
		    padding: 15px 35px;
	}
	
	#modal .modal-box .modal-content {
		height: calc(70vh - 80px);
		padding: 25px 35px;
	}

}

@media screen and (max-width: 900px){}

@media screen and (max-width: 767px){
	#modal .modal-box .modal-tit-box{
		padding: 7px 25px;
	}

	#modal .modal-box .modal-tit-box h3{
		font-size: 1.25rem;
	}

	#modal .modal-box .modal-tit-box .btn_close{
		font-size: 1.5rem;
	}

	#modal .modal-box .modal-content {
		height: calc(70vh - 64px);
		padding: 25px 25px;
	}

	#modal .modal-box .modal-content h4{
		font-size: 1.0625rem;
	}

	#modal .modal-box .modal-content pre,
	#modal .modal-box .modal-content dl dt,
	#modal .modal-box .modal-content dl dd{
		font-size: 0.9375rem;
	}
}

@media screen and (max-width: 320px){}